{% extends "base2.html" %}
{% block title %}Details{% endblock %}
{% block content %}
  <main id="main" class="main">
    <!--Content here gets clipped by header bar-->
  </main>
  <!-- End #main -->
  <!--The context given to this page by the views function is just one group. Can expand this context to whatever data is needed from DB to display graphs as well-->
  <!--Implement JS functions that can be called here to display graph. Input variables for JS functions will be passed through as template variables-->
  <div class= "col lg-12">
    <div class="card">
      <div class = "card-body">
        <h5 class = card-title>Group Details</h5>
        <p>Group name: <strong> {{ this_group.name }} </strong></p>
        <p>Number of Scanners: <strong> {{ this_group.scanners.count }} </strong></p>
        <p>Group ID: <strong> {{ this_group.pk }} </strong></p>
      </div>
    </div>
  </div>
  <div class= "col lg-12">
    <div class="card">
      <div class = "card-body">
        <h5 class="card-title">System Metrics</h5>
        <div class="row">
          <div class="col-sm-4">
            <select class="form-select" id="scannerSelect">
              {% for scanner in scanners %}<option value="{{ scanner.pk }}">{{ scanner.name }}</option>{% endfor %}
            </select>
          </div>
        <!-- Line Chart -->
        <div id="systemMetrics" style="height: 300px;"></div>
        <!-- End Line Chart -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}
