{% extends "base2.html" %}
{% block title %}Details{% endblock %}
{% block content %}
<main id="main" class="main">
    <!--Content here gets clipped by header bar-->
  </main><!-- End #main -->
<!--The context given to this page by the views function is just one group. Can expand this context to whatever data is needed from DB to display graphs as well-->
<!--Implement JS functions that can be called here to display graph. Input variables for JS functions will be passed through as template variables-->
<div class= "col lg-12">
  <div class="card">
    <div class = "card-body">
      <h5 class = card-title> Group Details</h5>
      <p> Group name: {{this_group.name}}</p>
      <p>Number of Scanners: {{this_group.scanners.count}}</p>
        <p>Group ID:</p>
          <p>Group location:</p>

    </div>
  </div>
</div>
{%for scanner in scanners%}

<div id="{{scanner.name}}" style="min-height: 400px;" class="echart"></div>

{%endfor%}


<script>
  document.addEventListener("DOMContentLoaded", () => {
    echarts.init(document.querySelector("#lineChart")).setOption({
      xAxis: {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [150, 230, 224, 218, 135, 147, 260],
        type: 'line',
        smooth: true
      }]
    });
  });
</script>
{% endblock %}
