{% extends "base2.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <main id="main" class="main">
    <!--Content here gets clipped by header bar-->
  </main>
  <!-- End #main -->
  <section class="section">
    <div clas="row">
      <h1>Dashboard</h1>
      <!--Add breadcrumbing here when necessary-->
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <div class="card" style="min-height: 400px">
          <div class="card-body">
            <h5 class="card-title">Current Devices</h5>
            <!-- Line Chart -->
            <div id="packetCount" style="height: 300px;"></div>
            <!-- End Line CHart -->
          </div>
        </div>
      </div>
    </div>
    <!--Upper Dashboard Ends-->
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <label for="startDate" class="col-form-label">Start Date</label>
                <input type="date" id="startDate" class="form-control">
              </div>
              <div class="col-sm-6">
                <label for="endDate" class="col-form-label">End Date</label>
                <input type="date" id="endDate" class="form-control">
              </div>
            </div>
            <div class="mt-3">
              <button id="last7" class="btn btn-secondary">Last 7 Days</button>
              <button id="last30" class="btn btn-secondary">Last 30 Days</button>
              <button id="ytd" class="btn btn-secondary">Year to Date</button>
              <button id="updateButton" class="btn btn-primary"> Update </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class=card-title>Top Vulnerable locations</h5>
            <div id="vulnerableLocations"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class=card-title>Total Attacks</h5>
            <canvas id="totalAttacks" style="max-height: 400px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}
