{% extends "base2.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <main id="main" class="main">
    <!--Content here gets clipped by header bar-->
  </main><!-- End #main -->


<section class="section">
  <div clas="row">
    <h1>Dashboard</h1>
    <!--Add breadcrumbing here when necessary-->
  </div>
    <div class="row">
      <div class="col-lg-6 ">

        <div class="card" style="min-height: 400px">
            <div class="card-body">
                <h5 class="card-title">Ongoing Attacks</h5>
  
                <!-- Line Chart -->
                <div id="ongoingAttacks" style="height: 300px">
                  
                </div>
                
                <!-- End Line CHart -->
            </div>
      
        </div>

      </div>
      <div class="col-lg-6 ">

        <div class="card" style="min-height: 400px">
            <div class="card-body">
                <h5 class="card-title">Current Devices</h5>
  
                <!-- Line Chart -->
                <canvas id="deviceCount" style="height: 350px;"></canvas>
                
                <!-- End Line CHart -->
            </div>
      
        </div>

      </div>
    </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class=card-title>Top Vulnerable locations</h5>

          <canvas id="vulnerableLocations" style="max-height: 400px;"></canvas>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class=card-title>Total Attacks</h5>
          
          <canvas id="totalAttacks" style="max-height: 400px;"></canvas>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class=card-title>Attack Trend</h5>
          
          <canvas id="attackTrends" style="max-height: 400px;"></canvas>
        </div>
      </div>
    </div>
  </div>

<div class="row">
        <div class="table-striped table-bordered col-md-6">
            <table id="groupTbl" class="table table-striped table-hover table-responsive">
                <thead>
                    <h3><strong>Recent Groups</strong> </h3>
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Active Sensors</th>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.code }}</td>
                        <td>{{ group.city }}</td>
                        <td>{{ group.state }}</td>
                        <td>{{ group.sensors }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        
        <div class="table-striped table-bordered col-md-6">
            <table id="sensorTbl1" class="table table-striped table-hover table-responsive">
                <thead>
                    <h3><strong>Recent Sensors</strong> </h3>
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>Sensor ID Number</th>
                </thead>
                <tbody>
                    {% for sensor in sensors %}
                    <tr>
                        <td>{{sensor.name}} </td>
                        <td>{{sensor.code}} </td>
                        <td>{{sensor.ID}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>


{% endblock %}
