{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container "> <!--Left side container-->
    <div class="row col-md-4 custBord">
        <div class=" ">
            <h1>Alert box</h1>
            <p>This is some text.</p>
        </div>
    </div>
</div>
<div class="container"> <!--Right side container-->
    <div class="d-flex flex-row-reverse">

        <div class="col-md-2"> 
            <a href="addGroup.html">
                <button id="addGroup" type="button" class="btn btn-primary btn-lg"> 
                    Add a new Group
                </button>
            </a>
        </div>
        <div class="col-md-2"> 
            <a href="addSensor.html">
                <button id="addSensor" type="button" class="btn btn-primary btn-lg"> 
                    Add a new Sensor
                </button>
            </a>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="table-striped table-bordered col-md-7">
            <table id="groupTbl" class="table table-striped table-hover table-responsive">
                <thead>
                    <h3><strong>Recent Groups</strong> </h3>
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Active Sensors</th>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.code }}</td>
                        <td>{{ group.city }}</td>
                        <td>{{ group.state }}</td>
                        <td>{{ group.sensors }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="table-striped table-bordered col-md-7">
            <table id="sensorTbl1" class="table table-striped table-hover table-responsive">
                <thead>
                    <h3><strong>Recent Sensors</strong> </h3>
                    <th>Group Name</th>
                    <th>Group Code</th>
                    <th>Sensor ID Number</th>
                </thead>
                <tbody>
                    {% for sensor in sensors %}
                    <tr>
                        <td>{{sensor.name}} </td>
                        <td>{{sensor.code}} </td>
                        <td>{{sensor.ID}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
