{% extends "base2.html" %}
{% block title %}Packets{% endblock %}
{% block content %}
    <main id="main" class="main">
        <!--Content here gets clipped by header bar-->
    </main>
    <!-- End #main -->
    <section class ="section">
        <div id="packetHead" ><h1>Packets for Device ID {{ this_device.pk }} </h1></div>
        <div id="device-data" data-device-pk="{{ this_device.pk }}"></div>
        <div class="row">
            <div class="col-md-11" id="packetRowDisplay"></div>
        </div>
        <div id="pagination"></div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div id="packetsTableContainer">
                        <div id="packetsTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
